[submodule "RT"]
	path = RT
	url = https://github.com/baxterai/openRT.git
[submodule "ANN"]
	path = ANN
	url = https://github.com/baxterai/openANN.git
[submodule "LRP"]
	path = LRP
	url = https://github.com/baxterai/LRP.git
